.titlebox {
    border: 5px black;
    width: fit-content;
    padding: 10px;
    margin: auto;
    position: relative; top: 20px;
}

.titlebox.main {
    background-color: sandybrown;
    font-size: 48px;
    height: auto;
}

.titlebox.small {
    color: black;
}

.h2 {
    font-size: 36px;
}

.h2.official {
    
}

.h2.mine {

}